<div class="container">
  <div class="row row-centered">
    <div class="col-sm-8 col-centered">
      <hr>
      <div class="form-group">
        <input class="form-control" type="text" id="idea-title"><br>
        <textarea class="form-control" rows="5" id="idea-body"></textarea>
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>

  <div class="ideas">
    <% @ideas.each do |idea| %>
      <div class="row row-centered">
      <div class="col-lg-8 col-centered" data-id="<%= idea.id %>">
        <h2><a href='' onclick='return false' class='delete-idea'>(X)</a> <%= idea.title %></h2>
        <p><%= idea.body %></p>
        <p><%= idea.quality %></p>
      </div>
      </div>
    <% end %>
  </div>
</div>
